<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../dist/css/index.min.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1133025_an95fjj639k.css">
    <script src="../../dist/js/jquery-3.3.1.min.js"></script>
    <script src="../../dist/js/index.min.js"></script>s
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="login-box">
                <a href="/"></a>
            </div>
            <ul class="nav">
                <li class="active"><a href="/">创业资讯</a></li>
                <li><a href="#">创业课堂</a></li>
                <li><a href="#">付费资讯</a></li>
                <li><a href="#">搜索</a></li>
            </ul>
            <div class="auth_box">
                <i class="iconperson iconfont"></i>
                <a href="#">登陆</a>
                <a href="">/</a>
                <a href="#">注册</a>
            </div>
        </div>
    </div>

    <div class="main">
        <div class="wrapper">
            <div class="news-wrapper">
                <div class="banner-group" id="banner-group">
                    <ul class="banner-ul" id="banner-ul">
                        <li>
                            <a href="">
                                <img src="https://static-image.xfz.cn/1561620546_779.jpg" alt="">
                            </a> 
                        </li>
                        <li>
                            <a href="">
                                <img src="https://static-image.xfz.cn/1562921019_254.jpg" alt="">
                            </a> 
                        </li>
                        <li>
                            <a href="">
                                <img src="../../src/images/1530258909_713.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="../../src/images/1529560399_230.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="../../src/images/1530859850_589.jpeg" alt="">
                            </a>
                        </li>
                    </ul>
                    <span class="arrow left-arrow">&lt</span>
                    <span class="arrow right-arrow">&gt</span>
                    <div class="page-control-group">
                        <ul class="page-control">

                    </ul>
                    </div>

                </div>
                <div class="list-outer-group">
                    <ul class="list-tab">
                        <li class="first-of-type active"><a href="javascript:void(0);">最新资讯</a></li>
                        <li><a href="javascript:void(0);">热点</a></li>
                        <li><a href="javascript:void(0);">深度报道</a></li>
                        <li><a href="javascript:void(0);">干货分享</a></li>
                        <li><a href="javascript:void(0);">投资人</a></li>
                    </ul>
                    <ul class="list-inner-group">
                        <li>
                            <div class="thumbnail-group">
                                <a href="#">
                                    <img src="https://static-image.xfz.cn/1563374395_999.jpg-website.news.list" alt="">
                                </a>
                            </div>
                            <div class="news-group">
                                <p class="title"><a href="#">企业支出管理平台分贝通获8500万B轮融资，博将资本领投</a></p>
                                <p class="desc">随着中国C端红利的逐渐减退，企业服务正在成为最可能诞生世界级公司的赛道之一。
</p>
                                <p class="more">
                                    <span class="category"><a href="#">深度报道</a></span>
                                    <span class="pub-time">1小时前</span>
                                    <span class="author">知了课堂</span>
                                </p>
                            </div>
                        </li>
                         <li>
                            <div class="thumbnail-group">
                                <a href="#">
                                    <img src="https://static-image.xfz.cn/1563324187_669.png-website.news.list" alt="">
                                </a>
                            </div>
                            <div class="news-group">早报：更美否认IPO传闻；微信改版浮窗增至5个；多闪否认“凉凉”；悦刻电子烟否认24亿美元估值融资企业支出管理平台分贝通获8500万B轮融资，博将资本领投</a></p>
                                <p class="desc">投中研究院：2019上半年VC/PE募集总规模544.38亿美元，同比下降30.17%
</p>
                                <p class="more">
                                    <span class="category"><a href="#">热点</a></span>
                                    <span class="pub-time">2小时前</span>
                                    <span class="author">知了课堂</span>
                                </p>
                            </div>
                        </li>

                         <li>
                            <div class="thumbnail-group">
                                <a href="#">
                                    <img src="https://static-image.xfz.cn/1563324187_669.png-website.news.list" alt="">
                                </a>
                            </div>
                            <div class="news-group">
                                <p class="title"><a href="#">企业支出管理平台分贝通获8500万B轮融资，博将资本领投</a></p>
                                <p class="desc">随着中国C端红利的逐渐减退，企业服务正在成为最可能诞生世界级公司的赛道之一。
</p>
                                <p class="more">
                                    <span class="category"><a href="#">深度报道</a></span>
                                    <span class="pub-time">1小时前</span>
                                    <span class="author">知了课堂</span>
                                </p>
                            </div>
                        </li>
                         <li>
                            <div class="thumbnail-group">
                                <a href="#">
                                    <img src="https://static-image.xfz.cn/1563324187_669.png-website.news.list" alt="">
                                </a>
                            </div>
                            <div class="news-group">
                                <p class="title"><a href="#">企业支出管理平台分贝通获8500万B轮融资，博将资本领投</a></p>
                                <p class="desc">随着中国C端红利的逐渐减退，企业服务正在成为最可能诞生世界级公司的赛道之一。
</p>
                                <p class="more">
                                    <span class="category"><a href="#">深度报道</a></span>
                                    <span class="pub-time">1小时前</span>
                                    <span class="author">知了课堂</span>
                                </p>
                            </div>
                        </li>

                    </ul>
                    <div class="load-more-group">
                        <button class="load-more">查看更多</button>
                    </div>

                </div>
            </div>
            <div class="sidebar-wrapper"></div>
        </div>
    </div>

</body>
</html>
